
.head_area {
  @include clearfix;
  padding:12px;
}

div.special_box {
}

div.stages_box{
  @include min-height(65px);
}

a.arrow_link {
  background-position:0 0;
}

.small_box {
  h3 {
    margin:0 0 7px;
  }
}

#deploy_comment {
  margin:12px 29px 0 0;
}

#deploy_log {
  display:block;
  width:750px;
  margin:auto;
  padding:5px 5px 15px 15px;
  .log_output {
    width:700px;
    overflow:hidden;
    padding:0 0 0 40px;
    border:1px solid #CCC;
    pre {
      overflow: auto;
      width:700px;
      padding:17px 0 16px;
    }
  }
}

.deployment_footer_status {
  img {
    position:relative;
    top:-3px;
  }
}